In [1]:
import pandas as pd
import diversity_metrics

In [2]:
# import data
pc_species = pd.read_csv('point-count-species.csv')

# manual cleaning
pc_species[['Date']] = pc_species[['Date']].replace(to_replace = {'11/1/2023':'11/01/2023',
                                                                  '11/11/23': '11/11/2023',
                                                                  '12/2/2023': '12/02/2023'})
pc_species['Date'] = pd.to_datetime(pc_species['Date'])
pc_species['Species'] = pc_species['Species'].str.lower()

pc_species

,PC #,Date,Location,Time Bin,Species,# Individuals,Notes,Editorial notes,Jon Problem Checker
0,1,2023-10-06,A1,Morning (7-9am),rock pigeon,3.0,NaN,NaN,-
1,1,2023-10-06,A1,Morning (7-9am),anna's hummingbird,3.0,NaN,NaN,-
2,1,2023-10-06,A1,Morning (7-9am),nuttall's woodpecker,1.0,NaN,NaN,-
3,1,2023-10-06,A1,Morning (7-9am),american crow,3.0,NaN,NaN,-
4,1,2023-10-06,A1,Morning (7-9am),dark-eyed junco,2.0,NaN,NaN,-
...,...,...,...,...,...,...,...,...,...
4825,686,2024-04-05,A5,Evening (3-5pm),lesser goldfinch,6.0,NaN,NaN,NaN
4826,686,2024-04-05,A5,Evening (3-5pm),dark-eyed junco,3.0,NaN,NaN,NaN
4827,686,2024-04-05,A5,Evening (3-5pm),yellow-rumped warbler,1.0,NaN,NaN,NaN
4828,687,2024-04-05,A6,Evening (3-5pm),american crow,8.0,NaN,NaN,NaN
4829,687,2024-04-05,A6,Evening (3-5pm),song sparrow,2.0,NaN,NaN,NaN

In [6]:
pc_dates = pc_species['Date'].unique()
species_seen = sorted(pc_species['Species'].unique())

In [7]:
species_seen

['accipiter_genus',
 'accipitridae_family',
 "allen's hummingbird",
 'american crow',
 'american goldfinch',
 'american robin',
 'american white pelican',
 "anna's hummingbird",
 'band-tailed pigeon',
 "bewick's wren",
 'black phoebe',
 'brown creeper',
 'brown-headed cowbird',
 'bushtit',
 'buteo_genus',
 'california gull',
 'california scrub-jay',
 'california towhee',
 'cedar waxwing',
 'chestnut-backed chickadee',
 'cliff swallow',
 'columbidae_family',
 'common raven',
 "cooper's hawk",
 'corvidae_family',
 'dark-eyed junco',
 'downy woodpecker',
 'falco_genus',
 'fox sparrow',
 'fringillidae_family',
 'golden-crowned kinglet',
 'golden-crowned sparrow',
 'hairy woodpecker',
 'hermit thrush',
 'hirundinidae_family',
 'house finch',
 "hutton's vireo",
 'larus_genus',
 'lesser goldfinch',
 'mourning dove',
 'northern flicker',
 "nuttall's woodpecker",
 'oak titmouse',
 'orange-crowned warbler',
 'paridae_family',
 'parulidae_family',
 'peregrine falcon',
 'picidae_family',
 'pine siskin',
 'red-breasted nuthatch',
 'red-shouldered hawk',
 'red-tailed hawk',
 'ring-billed gull',
 'rock pigeon',
 'ruby-crowned kinglet',
 'setophaga_genus',
 'sharp-shinned hawk',
 'sitta_genus',
 'song sparrow',
 'spinus_genus',
 'spotted towhee',
 "steller's jay",
 "townsend's warbler",
 'trochilidae_family',
 'turkey vulture',
 'violet-green swallow',
 'western flycatcher',
 'western gull',
 'white-crowned sparrow',
 'white-throated sparrow',
 'white-throated swift',
 'wild turkey',
 "wilson's warbler",
 'yellow-rumped warbler',
 'zonotrichia_genus']

In [9]:
species_abundances = [diversity_metrics.abundance_days_seen(pc_species, species) for species in species_seen]
species_frequencies = [diversity_metrics.frequency_days_seen(pc_species, species) for species in species_seen]

In [13]:
abundance_and_frequency = pd.DataFrame()
abundance_and_frequency['Species'] = species_seen
abundance_and_frequency['Abundance'] = species_abundances
abundance_and_frequency['Frequency'] = species_frequencies
abundance_and_frequency

                  Species  Abundance  Frequency
0         accipiter_genus          3   0.058824
1     accipitridae_family          2   0.039216
2     allen's hummingbird          1   0.019608
3           american crow         51   1.000000
4      american goldfinch          1   0.019608
..                    ...        ...        ...
70   white-throated swift          3   0.058824
71            wild turkey          1   0.019608
72       wilson's warbler          1   0.019608
73  yellow-rumped warbler         42   0.823529
74      zonotrichia_genus          3   0.058824

[75 rows x 3 columns]

In [14]:
abundance_and_frequency.to_csv('species-abundance-and-frequency.csv')